/* --------------------- Adding Custom (Local) fonts -------------------- */

@font-face {
    font-family: 'Gilroy';
    src:url('./assets/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src:url('./assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Black.woff2') format('woff2');     
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src:url('./assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}





body{
    font-family: "Gilroy";
    font-weight: normal;
}




.skills{

    align-items: center;
    display: flex;
    color: #767676;
    font-size: 1.7rem;
    position: absolute;
}

.skills ul{

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li img{

    height: 5rem;
    transition: all .3s ease-in-out;
    width: 11rem;
}

.skills p{

    border-right: 2px solid rgba(45, 46, 50, 0.5);
    color: #2d2e32;
    margin-right: 7rem;
    padding-right: 2rem;

}

p{
    margin: 0 70px 0 0;
    padding: 0 20px 0 0;
}

li{

    display: list-item;

}